.container {
    margin-top: 50px;
    display: flex;
    justify-content: center;
    background-color: lightskyblue;
}

input {
    display: block;
    margin: 20px 0 20px 0;
}

header {
    padding-right: 50px;
}

h1 {

    font-size: 28px;
}

.btn {

    margin-bottom: 10px;
}

.error {
    color: red;
    font-weight: 600;
}