/** ONLY FOR TESTING **/

* {

    background-color: #31a6d4;
    background-color: rgb(25, 70, 90);
    background-color: #eb6262;
    align-content: center;
    box-shadow: 1px 1px black;
    @font-face {
        font-family: "Gloria";
        src: url("../fonts/Gloria.ttf");
    }

    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h1 {

    background-image: url("../images/hot-air-balloon-2411851_1280.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}